<article data-user-id="<%= comment.user.id %>">
	<div class="row">
    <div class="col-md-2">
      <b><%= comment.user.name %></b>
    </div>
    <div class="col-md-10" style="text-align:left;">
      <p><%= comment.content %></p>
    </div>
  </div>
</article>